[Unit]
Description=gammu 5650 
After=syslog.target network.target nss-lookup.target
[Service]
Type=simple
ExecStart=/usr/bin/gammu-smsd -c /home/jupin/sms-verification-code/conf/sms-5650.conf
Restart=always
RestartSec=5
[Install]
WantedBy=default.target
